Language: C
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
SeparateDefinitionBlocks: Always
BinPackParameters: true
BinPackArguments: true
