BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
SeparateDefinitionBlocks: Always
BinPackParameters: true
BinPackArguments: true
